{% extends 'crud/base.html' %}

{% block title %}
    CRUD | Add or Delete Info
{% endblock %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-sm-4 lf">
            <h4 class="text-center alert alert-info">Add New Student</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Add">
            </form>
        </div>
        <div class="col-sm-7 offset-1 rf">
            <h4 class="text-center alert alert-info">Display Students Information</h4>
            {% if student %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for st in student %}
                            <tr>
                                <th scope="row">{{ st.id }}</th>
                                <td>{{ st.name }}</td>
                                <td>{{ st.email }}</td>
                                <td>{{ st.password }}</td>
                                <td>
                                    <a href="{% url 'updateInfo' st.id %}" class="btn btn-warning btn-sm">edit</a>
                                    <form action="{% url 'deleteInfo' st.id %}" method="POST" class="d-inline">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger btn-sm" value="delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center alert alert-warning">Sorry! No Records</h4>
            {% endif %}
        </div>
    </div>
<style>
    .lf, .rf {
        border: 2px solid #d9dfe4;
        border-radius: 10px;
        background-color: #F0F8FF;
    }
    h4.text-center.alert.alert-info {
        margin-top: 20px;
    }
    input.btn.btn-success {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 50px;
    }
    thead tr {
        background-color: mediumturquoise;
        color: currentColor;
    }
    label{
        color:black;
    }
</style>
{% endblock content %}